@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

/* UI Styling */

.theme-switch {
  position: relative;
  margin: 1rem 0;
  z-index: 1;
  animation: 1s both fade-in;
  animation-delay: calc(var(--move-in-base-delay) * 9);
}

.theme-switch__button {
  opacity: 0.5;
  transition: opacity 0.3s ease;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  -webkit-appearance: button;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  animation-delay: 1.5s;
  padding: .375rem .75rem;
  font-size: .875rem;
  border: 1px solid #444;
  border-radius: 0.6rem;
}

.theme-switch__button:hover,
.theme-switch__button:focus {
  opacity: 1;
}

.theme-switch__button[aria-pressed=true] {
  background: white;
}

.theme-switch__button[aria-pressed=false] {
  background: black;
  color: #ffffff;
}

/* Theme Setting */

body {
  transition: background-color 0.3s ease;
}

body.js-theme-light {
  color: #222;
  background-color: #fdfdfd;
}

.js-theme-light a {
  color: #05a6f0;
}

.js-theme-light a:hover {
  color: #f35325;
}

body.js-theme-code {
  color: lightslategrey;
  font-family: "Courier New", Courier, monospace;
}

/* .js-theme-light .theme__button {
  border: 1px solid #dedede;
}

.js-theme-light .theme__button:disabled {
  border: 3px solid #dedede;
} */
