@charset "UTF-8";
@import "./_keyframes.css";
:root {
  /* color defaults */
  --brand-blue: #05a6f0;
  --brand-yellow: #ffba08;
  --brand-red: #f35325;
  --brand-green: #81bc06;
  --white: #ffffff;
  /* typeface defaults */
  --primary-typeface: Segoe UI, SegoeUI, Segoe WP, Helvetica Neue, Helvetica,
    Tahoma, Arial, sans-serif;
  --title-font-size: 1.3rem;
  --base-font-size: 20px;
  --base-font-line-height: 28px;
  --small-font-size: 12px;
  --small-font-line-height: 14px;
  /* animations */
  --root-gradient-animation: root-gradient 4s both linear alternate infinite;
  --move-in-offset: 20px;
  --move-in-animation: 1s both move-in;
  --move-in-base-delay: 100ms;
  --logo-tiles-in-animation: 1s both logo-tiles-in;
  --logo-tiles-in-delay: 100ms;
  --text-gradient-animation: text-gradient 6.5s linear infinite;
  /* spacing */
  --small-space: 1em;
  --large-space: 2em;
  --text-block-spacing: 0.5em;
  /* theme */
  --app-background: #121212;
  --app-foreground: #bbb;
  --app-title-separator: 1px solid rgba(255, 255, 255, 0.2);
}

html {
  position: relative;
  font-size: var(--base-font-size);
  font-family: var(--primary-typeface);
  line-height: var(--base-font-line-height);
  background-color: rgba(0, 0, 0, 1);
}

html:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    60deg,
    var(--brand-yellow) 33%,
    var(--brand-blue) 67%
  );
  z-index: -1;
  animation: var(--root-gradient-animation);
  background-size: 300% 300%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 10px);
  margin: 5px;
  padding: 0 var(--small-space);
  color: var(--app-foreground);
  transition: background-color 0.3s ease-out;
  background-color: var(--app-background);
}

::-moz-selection {
  color: var(--white);
  background-color: var(--brand-blue);
}

::selection {
  color: var(--white);
  background: #05a6f0;
  background-color: var(--brand-blue);
}

a {
  color: var(--brand-yellow);
  text-decoration: none;
}

a:hover,
a:focus {
  background-image: linear-gradient(
    to right,
    var(--brand-yellow) 25%,
    var(--brand-green) 50%,
    var(--brand-blue) 75%,
    var(--brand-yellow) 100%
  );
  background-size: 600% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: var(--text-gradient-animation);
}

[dir="rtl"] a:not(.logo-link):hover,
[dir="rtl"] a:not(.logo-link):focus {
  animation: var(--text-gradient-animation) reverse;
}

p,
h1 {
  margin: 0;
  padding: var(--text-block-spacing) 0;
}

.container {
  max-width: 80vw;
  display: -ms-grid;
  display: grid;
  grid-template-areas: "H" "C";
  font-size: 1rem;
}

@media only screen and (min-width: 40em) {
  .container {
    max-width: 31rem;
    margin: 0 auto auto;
  }
}

.header {
  grid-area: H;
}

.content {
  grid-area: C;
}

.logo-link {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: var(--large-space) auto;
}

.logo-link:hover {
  animation: 1s both logo-tiles-hover linear infinite;
}

.logo-tile {
  animation: var(--logo-tiles-in-animation);
}

.logo-tile:nth-child(2) {
  animation-delay: var(--logo-tiles-in-delay);
}

.logo-tile:nth-child(3) {
  animation-delay: calc(var(--logo-tiles-in-delay) * 2);
}

.logo-tile:nth-child(4) {
  animation-delay: calc(var(--logo-tiles-in-delay) * 3);
}

.content h1 {
  animation: var(--move-in-animation);
  animation-delay: calc(var(--move-in-base-delay) * 4);
  font-size: var(--title-font-size);
  font-weight: bold;
  border-bottom: var(--app-title-separator);
  margin-bottom: var(--small-space);
  padding-bottom: var(--small-space);
}

.content p {
  animation: var(--move-in-animation);
}

.content p:nth-of-type(1) {
  animation-delay: calc(var(--move-in-base-delay) * 5);
}

.content p:nth-of-type(2) {
  animation-delay: calc(var(--move-in-base-delay) * 6);
}

.content p:nth-of-type(3) {
  animation-delay: calc(var(--move-in-base-delay) * 7);
}

.content p:nth-of-type(4) {
  animation-delay: calc(var(--move-in-base-delay) * 8);
}

.footer {
  font-size: 1rem;
  margin: 0 auto;
  max-width: 80vw;
  line-height: var(--small-font-line-height);
  text-align: center;
  padding: var(--small-space) 0;
  overflow: hidden;
  animation: var(--move-in-animation);
  animation-delay: calc(var(--move-in-base-delay) * 11);
}

footer small {
  font-size: inherit;
}

@media only screen and (min-width: 40em) {
  .footer {
    font-size: var(--small-font-size);
    margin: var(--small-space) 0 0;
    max-width: auto;
  }
}
