body {
    background-color: #080808;
    color: #BBB;
    font-family: sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    max-width: 600px;
    min-height: calc(100vh - 80px);
    margin: 0 auto;
}

.container img {
    margin: 40px auto;
    width: 100%;
}

.container p {
    font-size: 19px;
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 1.1em;
}

.container p a {
    text-decoration: none;
    color: pink;
}

.container p a:hover {
    color: lightblue;
}

footer {
    color: #999;
    text-align: center;
    height: 40px;
}

footer a {
    color: #DDD;
    text-decoration: none;
}
footer a:hover {
    color: lightblue;
}

@media only screen and (max-width: 600px) {

    .container {
        max-width: calc(100vw - 20vw);
        margin: 0 auto;
    }

    .container p {
        font-size: 18px;
    }

    footer {
        text-align: unset;
        padding: 1em 0 2em;
        max-width: calc(100vw - 20vw);
        margin: 0 auto;
    }

    footer span {
        display: block;
    }
}
