:root {
  --blue: #05A6F0;
  --move-in-offset: 1rem;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html {
  font-size: 125%;
  font-family: Inconsolata, Consolas, monospace;
  line-height: 1.25;
  background-color: #080808;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  margin: 0;
  color: #BBBBBB;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  animation: 1500ms 200ms forwards fade-in;
}

header {
  background: white;
  color: black;
  padding: 2rem 0;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__text {
  text-transform: uppercase;
  font-weight: bold;
  margin: 1rem 2rem;
}

main {
  max-width: 32rem;
  margin: 0 auto;
  flex: 1;
  padding: 0 1rem;
}

::-moz-selection {
  color: white;
  background-color: var(--blue);
}

::selection {
  color: white;
  background-color: var(--blue);
}

a {
  color: white;
  text-decoration: none;
  transition: 150ms color;
}

a:hover {
  color: var(--blue);
}

.logo-link {
  display: block;
  width: 4rem;
  height: 4rem;
}

.logo-image {
  display: block;
  width: 100%;
  height: auto;
}

.footer {
  font-size: 80%;
  text-align: center;
  padding: 1rem 0;
}
@media only screen and (max-width: 40em) {
  header {
    flex-direction: column;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
  }

  .footer {
    text-align: unset;
    padding: 1rem;
  }

  .footer-piece {
    display: block;
  }
}
