@charset "UTF-8";
:root {
  /* color defaults */
  --brand-blue: #05a6f0;
  --brand-yellow: #ffba08;
  --brand-red: #f35325;
  --brand-green: #81bc06;
  --white: #ffffff;
  --off-white: #bbb;
  --dark-grey: #121212;
  /* typeface defaults */
  --primary-typeface: Segoe UI, SegoeUI, Segoe WP, Helvetica Neue, Helvetica,
    Tahoma, Arial, sans-serif;
  --title-font-size: 1.3rem;
  --base-font-size: 20px;
  --base-font-line-height: 28px;
  --small-font-size: 12px;
  --small-font-line-height: 14px;
  /* animations */
  --root-gradient-animation: 4s both root-gradient linear infinite;
  --move-in-offset: 20px;
  --move-in-animation: 1s both move-in;
  --move-in-base-delay: 100ms;
  --logo-tiles-in-animation: 1s both logo-tiles-in;
  --logo-tiles-in-delay: 100ms;
  /* spacing */
  --small-space: 1em;
  --large-space: 2em;
  --text-block-spacing: 0.5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: var(--base-font-size);
  font-family: var(--primary-typeface);
  line-height: var(--base-font-line-height);
  background-color: var(--dark-grey);
  color: var(--off-white);
}

h1 {
  font-size: var(--title-font-size);
  font-weight: bold;
}

h2 {
  font-size: 1.1rem;
}

p,
h1 {
  margin: 0;
  padding: var(--text-block-spacing) 0;
}

p,
h1 {
  margin: 0;
  padding: var(--text-block-spacing) 0;
}

a {
  color: var(--brand-yellow);
  text-decoration: none;
  transition: 400ms color;
}

a:hover {
  color: var(--brand-blue);
}

main h1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: var(--small-space);
  padding-bottom: var(--small-space);
}

/* utils  */

.-text--fade {
  opacity: 0.4;
}

/* components */

.container {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}

.display-wrapper {
  flex: 5;
}

.display {
  width: 100%;
  height: 100%;
}

.history {
  flex: 1 1 10rem;
  padding: 2rem;
  background: rgba(18, 18, 18, 1);
  color: #bbb;
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}

/* Disable the history section when javascript is disabled */
.no-js .history {
  display: none;
}

.history__controller {
  position: relative;
  margin-bottom: 0.5rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.history__controller > button {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.2rem;
  border: 1px solid transparent;
  color: #bbb;
  cursor: pointer;
  display: inline-block;
  padding: 0.25em 0.75em;
  position: relative;
  transition: all 0.3s ease;
  transform: translateY(0);
}

.history__controller > button > span {
  outline: none;
  padding: 4px 9px;
  margin: -4px -9px;
}

.history__controller > button:hover {
  border-color: rgba(255, 255, 255, 0.1);
  box-shadow: 2px 3px #000;
  transform: translateY(-1px);
}

.history__controller > button:active {
  box-shadow: none;
  transform: translateY(0);
}

.pr {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.pr__people-wrapper {
  position: relative;
  padding: 0.5rem 0;
}

.pr__people {
  position: relative;
  display: block;
  margin-bottom: 0.5rem;
}

.pr__people > * {
  display: inline-block;
  vertical-align: middle;
}

.pr__avatar {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.pr__avatar:before {
  content: "/";
  position: absolute;
  display: block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.4);
  top: 0;
  left: 0;
  background: black;
  text-align: center;
}

.pr__mergedAt {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}

.history__link,
.history__exit {
  color: var(--brand-yellow);
  text-decoration: none;
}

.history__link:hover,
.history__exit:hover {
  color: var(--brand-blue);
}

.history__exit {
  position: absolute;
  font-size: 0.9rem;
  padding: 0.25rem 0.75rem;
  top: 1.8rem;
  right: 1.5rem;
}

@media only screen and (max-width: 640px) {
  .container {
    flex-flow: column nowrap;
  }
  .display-wrapper {
    height: calc(100%-5.5rem);
    overflow-y: scroll;
  }
  .history__count {
    font-size: 1rem;
  }
  .pr__title {
    font-size: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .people--editor {
    display: none;
  }
}

/* Microsoft logo */

.logo-link {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: var(--large-space) auto;
}

.logo-link:hover {
  animation: 1s both logo-tiles-hover linear infinite;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin: 0;
}

.logo-tile {
  display: block;
  width: 45%;
  height: 45%;
  margin: 2.5%;
  outline: 1px solid transparent;
  animation: var(--logo-tiles-in-animation);
}

.logo-tile--red {
  background-color: var(--brand-red);
}

.logo-tile--green {
  background-color: var(--brand-green);
  animation-delay: var(--logo-tiles-in-delay);
}

.logo-tile--blue {
  background-color: var(--brand-blue);
  animation-delay: calc(var(--logo-tiles-in-delay) * 2);
}

.logo-tile--yellow {
  background-color: var(--brand-yellow);
  animation-delay: calc(var(--logo-tiles-in-delay) * 3);
}

/* No javascript styles */

.no-script-container {
  max-width: 31em;
  margin: 0 auto;
}
